*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GRID ESTRUCTURAL */

#grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 5500px 150px ;
    grid-template-areas:"nav"
                        "main"
                        "footer";
}

#grid_carrito{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 1300px 150px ;
    grid-template-areas:"nav"
                        "main"
                        "footer";
}

#grid_catalogo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 2100px 150px ;
    grid-template-areas:"nav"
                        "main"
                        "footer";
}


#grid_registro{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 1000px 150px ;
    grid-template-areas:"nav"
                        "main"
                        "footer";
}



/* H´s */



/* NAV */

/*  

nav{
    background-color: rgb(109, 16, 16);
}

.nav_catalog{
    background-color: white;
}


ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}


/*.navbar_img{
    display: inline-block;
    vertical-align: middle;
    width: 145px;
}  
*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #a72c10;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #dcc82b;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



a:hover{
    color: black;
}



a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* HEADER */


.img_slide{
    width: 100px;
    height: 80px;
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.carta{
    background-color: #837676;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    border: black;
}
.card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.ref-1{
    background-image: url(https://cdn.shopify.com/s/files/1/0050/6868/5346/files/Bujias-Convencionales-NGK_2_480x480.png?v=1603832203) ;
}

.ref-2{
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_785762-MLM41865182491_052020-O.jpg);
}

.ref-3{
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_651021-MLM46783807331_072021-W.jpg);
}

.ref-4{
    background-image: url(https://m.media-amazon.com/images/I/81xrr6NwdaL._AC_SY450_.jpg);
}
.ref-5{
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_996855-MLM40630304226_022020-O.jpg);
}

.ref-6{
    background-image: url(https://m.media-amazon.com/images/I/8131xJIpX1L._AC_SL1500_.jpg);
}

.carta p{
    padding: 10px;
    font-size: 13px;
}

.carta a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.carta h2{
    font-size: 23px;
}





/* SECTIONS */

section{
    display: flex;
    
    height: 25%;
    width: 90%;
    border-radius: 20px;
}

#carrito{
    height: 45%;
    width: 70%;
    border-radius: 20px;
}

#catalogo{
    height: 50%;
    width: 70%;
    border-radius: 20px;
}

#registro{
    height: 80%;
    width: 70%;
    border-radius: 20px;
}


.grid_section_index1{
    display: grid;
    grid-template-columns: 60% 25%;
    grid-template-rows: 40% 40% ;
    grid-template-areas:"slide boton1"
                        "slide boton2";
    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.grid_section_carrito{
    display: grid;
    grid-template-columns: 30% 25%;
    grid-template-rows: 10% 45% 10% ;
    grid-template-areas:"img titulo"
                        "img parrafo"
                        "img boton";
    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}



.img_carrito{
    grid-area: img;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.img_section{
    grid-area: slide ;
}

.boton_section{
    width: 40%;
    height: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    border-radius: 15px;
}

#boton{
    width: 150px;
    height: 50px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    border-radius: 15px;
}

.card_padre{
    display: flex;
    height: 700px;
    width: 85%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
    border-radius: 50px;
    flex-wrap: wrap;
}

.card_hijo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 80%;
    width: 30%;
}

.catalogo{
    margin-top: 150px;
}


/* FORMULARIOS */

.form_registro .button,
#grid_header_home .button{
    width: 100%;
    background-color: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 50px;
}

.form_registro{
    display: block;
    /* 
     align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
    */
   
    width: 400px;
    background-color: yellow;
    padding: 30px;
    border-radius: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50px;

}

.form_registro h2{
    font-size: 22px;
    margin-bottom: 20px;
}


.form_registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}


.form_registro a{
    color: black;
    text-decoration: none;
}

.form_registro a:hover{
    color: black;
    text-decoration: underline;
}

.main-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 2800px;
}

.grid_section_index1{
    display: grid;
    grid-template-columns: 60% 25%;
    grid-template-rows: 40% 40% ;
    grid-template-areas:"slide boton1"
                        "slide boton2";
    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.grid_section{
    display: grid;
    grid-template-columns: 55% 35%;
    grid-template-rows: 10% 60% 10%;
    grid-template-areas:    "img titulo"
                            "img parrafo"
                            "img boton";
    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.grid_section2{
    display: grid;
    grid-template-columns: 35% 55%;
    grid-template-rows: 10% 60% 10%;
    grid-template-areas:    "titulo img"
                            "parrafo img"
                            "boton img";
    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}



/* FOOTER */

footer{
    text-align: center;
    color: white;

}

footer a{
    color: white;
}



footer{
    background-color: rgb(109, 16, 16);
}




/* MEDIA QUERIES */





@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #c1be0b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}


@media screen and (max-width:767px){

    
}



@media screen and (min-width:767px) and (max-width:1023px){

}


@media screen and (min-width:1024px){

}